@layer components {
  @scope (.favorite-button) {
    :scope {
      padding: 0;
      background: none;
      width: fit-content;

      &.active {
        color: red;
      }

      &:enabled {
        cursor: pointer;

        &:hover {
          color: red;
        }
      }
    }
  }
}