@layer components {
  @scope (.walking-distance) {
    :scope {
      display: grid;
      grid-auto-flow: column;
      gap: 3px;
      align-items: center;
      width: fit-content;
    }

    .distance {
      font-weight: 500;
      color: #1a1d1f;
    }

    .duration {
      color: #7d848b;
    }
  }
}